body {
  background-color: rgb(236, 234, 234);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  nav{
    background-color: goldenrod;
  }

    ul > li > a{
    color: rgb(88, 88, 110);
    font-size: 16px;
    font-weight: bold;
  }

   #appname{
    color: rgb(88, 88, 110);
    font-weight: bold;
  }
 
  main {
    flex: 1 0 auto;
    color: rgb(170, 130, 22);
  }

  footer.page-footer {
    background-color: goldenrod;
    color: rgb(88, 88, 110);
    padding-top: 0;
    text-align: right;
  }

  /* #add-appraisal-btn{
    background-color: rgb(40, 164, 28);
    
  }

  #add-grading-btn{
    background-color: rgb(40, 164, 28);
  } */

  .btn{
    background-color: rgb(40, 164, 28);
  }
  #coin-modify-btn{
    color: rgb(40, 164, 28);
  }
 #coin-list{
   color: rgb(96, 164, 121);
 }
 #grading-list{
  color: rgb(96, 164, 121);
 }