

{% extends 'base.html' %}
{% block content %}

<h1>Coin Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
        <div class="card-content">
          <span class="card-title">{{ coin.name }}</span>
          <p>Metal Type: {{ coin.metallurgy }}</p>
          <p>Description: {{ coin.description }}</p>
          {% if coin.year > 0 %}
            <p>Year: {{ coin.year }}</p>
          {% else %}
            <p>Year: Too Rare!</p>
          {% endif %}
        </div>
      
        <div class="card-action">
          <a id="coin-modify-btn" href="{% url 'coins_update' coin.id %}">Edit</a>
          <a id="coin-modify-btn" href="{% url 'coins_delete' coin.id %}">Delete</a>
        </div>
      
      </div>
      
  </div>
  <div class="col s6">

    <form action="{% url 'add_appraisals' coin.id %}" method="post">
        {% csrf_token %}
        {{ appraisals_form.as_p }}
        <input type="submit" class="btn" id="add-appraisal-btn" value="Schedule Appraisal">
      </form>
    

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time Of Day</th></tr>
      </thead>
      <tbody>
        {% for appraisal in coin.appraisals_set.all %}
          <tr>
            <td>{{appraisal.date}}</td>
            <td>{{appraisal.get_appointment_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ coin.name }}'s Gradings</h3>
      {% if coin.gradings.count %}
        {% for grading in coin.gradings.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                 <span>{{ grading.luster }} /</span> {{ grading.grading }}
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Gradings :(</h5>
      {% endif %}
    </div>

    <div class="col s6">
      <h3>Available Grades</h3>
      {% if gradings.count %}
        {% for grade in gradings.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <span>{{ grade.luster }} / </span> {{ grade.grading }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_grading' coin.id grade.id%}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn" id="add-grading-btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{coin.name}} Already Has Gradings Available</h5>
      {% endif %}
    </div>
    </div>

<script>

const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  const selectEl = document.getElementById('id_appointment');
  M.FormSelect.init(selectEl);

</script>


</div>
{% endblock %}